<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <hr class="my-4">

    <div class="pb-4">

      <a href="https://www.instagram.com/ncls_marques/" target="_blank">
        <i style="font-size:24px" class="fa">&#xf16d;</i>
      </a>

    </div>
    <div class="footer-copyright py-3">
      © 2023 Copyright
    </div>
  </footer>